<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qcyw.xchqcyws.mapper.AddressMapper">
    <resultMap type="address" id="AddressResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="phone" column="phone"/>
        <result property="consignee" column="consignee"/>
        <result property="isDefault" column="is_default"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="getAddressList" parameterType="address" resultMap="AddressResult">
        select  id, user_id ,phone, consignee, is_default,
        del_flag, create_by, create_time,update_time
        from user_address
        <where>
        <if test="userId != null  and userId != ''">and user_id = #{userId}</if>
        <if test="delFlag != null  and delFlag != ''">and del_flag = '1'</if>
        </where>
    </select>

    <!--user_id和create_by等用户登录搞好在加-->
    <insert id="insertAddress" parameterType="address">
        insert into user_address
        (
        <if test="id != null and id != ''">id,</if>
        <if test="userId != null and userId != ''">user_id,</if>
        <if test="address != null and address != ''">address,</if>
        <if test="phone != null and phone != ''">phone,</if>
        <if test="consignee != null and consignee != ''">consignee,</if>
        <if test="isDefault != null and isDefault != ''">is_default,</if>
        create_time,
        update_time,
        <if test="delFlag != null and delFlag != ''">del_flag</if>
        )
        values
        (
        <if test="id != null and id != ''">#{id},</if>
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="address != null and address != ''">#{address},</if>
        <if test="phone != null and phone != ''">#{phone},</if>
        <if test="consignee != null and consignee != ''">#{consignee},</if>
        <if test="isDefault != null and isDefault != ''">#{isDefault},</if>
        sysdate(),
        sysdate(),
        <if test="delFlag != null and delFlag != ''">#{delFlag}</if>
        )
    </insert>

    <update id="updateAddress" parameterType="address">
        update user_address
        <set>
            <if test="userId != null and userId != ''">
                user_id = #{userId},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="consignee != null and consignee != ''">
                consignee = #{consignee},
            </if>
            <if test="isDefault != null and isDefault != ''">
                is_default = #{isDefault},
            </if>
            update_time = sysdate(),
            <if test="delFlag != null and delFlag != ''">
                del_flag = #{delFlag},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>
