<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qcyw.xchqcyws.mapper.MyCartMapper">
    <resultMap type="myCart" id="MyCartResult">
        <result property="id" column="id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="openid" column="openid"/>
        <result property="cartNum" column="cart_num"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <resultMap type="myCartView" id="MyCartResultList">
        <result property="mmCartNum" column="m_cart_num"/>
        <result property="ssGoodsPic" column="s_goods_pic"/>
        <result property="ssGoodsName" column="s_goods_name"/>
        <result property="ssGoodsPrice" column="s_goods_price"/>
        <result property="ssGoodsSpecs" column="s_goods_specs"/>
        <result property="ssGoodsDetails" column="s_goods_details"/>
        <result property="ccCompanyName" column="c_company_name"/>
        <result property="gmModelName" column="gm_model_name"/>
        <result property="gmModelPrice" column="gm_model_price"/>
        <result property="gmMemberPrice" column="gm_member_price"/>
        <result property="aaAnnexName" column="a_annex_name"/>
    </resultMap>

    <resultMap type="myCartViews" id="MyCartResultLists">
        <result property="mmCartNum" column="m_cart_num"/>
        <result property="mmOpenid" column="m_openid"/>
        <result property="ssGoodsPic" column="s_goods_pic"/>
        <result property="ssGoodsName" column="s_goods_name"/>
        <result property="ssGoodsPrice" column="s_goods_price"/>
        <result property="ssGoodsSpecs" column="s_goods_specs"/>
        <result property="ssGoodsDetails" column="s_goods_details"/>
        <result property="ccCompanyName" column="c_company_name"/>
        <result property="gmModelName" column="gm_model_name"/>
        <result property="gmModelPrice" column="gm_model_price"/>
        <result property="gmMemberPrice" column="gm_member_price"/>
        <result property="aaAnnexName" column="a_annex_name"/>
    </resultMap>


    <select id="getMyCartList" parameterType="java.lang.String" resultMap="MyCartResultList">
        select
        m_cart_num,
        s_goods_pic,
        s_goods_name,
        s_goods_price,
        s_goods_specs,
        s_goods_details,
        c_company_name,
        gm_model_name,
        gm_model_price,
        gm_member_price,
        a_annex_name
        from cart_goods_view
        <where>
            <if test="openid != null  and openid != ''">and m_openid = #{openid}</if>
            and m_del_flag = '1'
        </where>
    </select>

    <select id="getMyCartLists" parameterType="java.lang.String" resultMap="MyCartResultLists">
        select
        m_cart_num,
        s_goods_pic,
        s_goods_name,
        s_goods_price,
        s_goods_specs,
        s_goods_details,
        c_company_name,
        gm_model_name,
        gm_model_price,
        gm_member_price,
        a_annex_name,
        m_openid
        from cart_goods_view
        <where>
            <if test="openid != null  and openid != ''">and m_openid = #{openid}</if>
            and m_del_flag = '1'
        </where>
    </select>

    <select id="getMyCartId" parameterType="java.lang.String" resultMap="MyCartResult">
        select
        id, openid,cart_num,goods_id
        from my_cart
        <where>
            <if test="goodsId != null  and goodsId != ''">and goods_id = #{goodsId}</if>
            and del_flag = '1'
        </where>
    </select>

    <select id="getMyCartIds" parameterType="java.lang.String" resultMap="MyCartResult">
        select
        id, openid,cart_num,goods_id
        from my_cart
        <where>
            <if test="id != null  and id != ''">and id = #{id}</if>
            <if test="openid != null  and openid != ''">and openid #{openid}</if>
            and del_flag = '1'
        </where>
    </select>

    <insert id="insertMyCart" parameterType="myCart">
        insert into my_cart
        (
        <if test="id != null and id != ''">id,</if>
        <if test="goodsId != null and goodsId != ''">goods_id,</if>
        <if test="openid != null and openid != ''">openid,</if>
        <if test="cartNum != null and cartNum != ''">cart_num,</if>
        create_time,
        update_time,
        <if test="delFlag != null and delFlag != ''">del_flag</if>
        )
        values
        (
        <if test="id != null and id != ''">#{id},</if>
        <if test="goodsId != null and goodsId != ''">#{goodsId},</if>
        <if test="openid != null and openid != ''">#{openid},</if>
        <if test="cartNum != null and cartNum != ''">#{cartNum},</if>
        sysdate(),
        sysdate(),
        <if test="delFlag != null and delFlag != ''">#{delFlag}</if>
        )
    </insert>

    <update id="updateMyCart" parameterType="myCart">
        update my_cart
        <set>
            <if test="goodsId != null and goodsId != ''">
                goods_id = #{goodsId},
            </if>
            <if test="cartNum != null and cartNum != ''">
                cart_num = #{cartNum},
            </if>
            <if test="openid != null and openid != ''">
                openid = #{openid},
            </if>
            update_time = sysdate(),
            <if test="delFlag != null and delFlag != ''">
                del_flag = #{delFlag},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteMyCart" parameterType="java.lang.String">
        delete from my_cart where id = #{id} and openid = #{openid}
    </delete>

</mapper>
